.pagi-control ul {
  list-style-type: none;
}
.pagi-control ul li {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid lightblue;
}
.pagi-control ul li a {
  text-decoration: none;
}
.active {
  background: lightblue;
  color: white;
}
.active a {
  color: white;
}

.pagi-list ul {
  list-style-type: none;
}
